/.idea/
/js/lesson_7/property object.js
/js/lesson_8/call_apply_bind.js
/js/lesson_7/callback.js
/js/lesson_11/rating_2.css
/js/lesson_11/rating_2.html
/js/lesson_11/ratingStars_2.pdf
/js/lesson_11/rating.js
/js/lesson_11/rating.html
/js/lesson_11/rating.css
