@media screen and (max-width: 480px){
    .wrap{
        padding: 8.533vw 4.267vw;
        flex-direction: column;
        gap: 8.533vw;
    }
    .card{
        width: 91.467vw;
        height: 58.667vw;
    }
    img{
        width: 34.133vw;
        height: 34.133vw;
        margin-bottom: 4.267vw;
    }
    h3{
        margin-bottom: 2.133vw;
    }
}